@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-up {
  animation: slide-up 0.1s ease-in-out 1; 
}
